Package: com.fudai.ios
Name: FuDai iOS
Version: 0.5.0
Architecture: iphoneos-arm64e
Description: Douyin lucky-bag helper (LuckyBox precise hooks + UI engine)
Maintainer: local
Author: local
Section: Tweaks
Priority: optional
Depends: firmware (>= 14.0)
